:root {
  --solid-white: #ffffff;
  --solid-black: #000000;
  --solid-blue1400: #000b28;
  --solid-blue1300: #00133d;
  --solid-blue1200: #011d50;
  --solid-blue1100: #022864;
  --solid-blue1000: #043379;
  --solid-blue900: #033d92;
  --solid-blue800: #0448ab;
  --solid-blue700: #0253c4;
  --solid-blue600: #005ede;
  --solid-blue500: #006cfd;
  --solid-blue400: #2178fd;
  --solid-blue300: #3686ff;
  --solid-blue200: #68a4ff;
  --solid-blue100: #9bc3ff;
  --solid-blue90: #a8cbff;
  --solid-blue80: #c1daff;
  --solid-blue70: #cde1ff;
  --solid-blue60: #d9e8ff;
  --solid-blue50: #e6f0ff;
  --solid-green1400: #021200;
  --solid-green1300: #051d02;
  --solid-green1200: #0b2906;
  --solid-green1100: #103607;
  --solid-green1000: #14440a;
  --solid-green900: #155206;
  --solid-green800: #1b6006;
  --solid-green700: #1c6f01;
  --solid-green600: #227e01;
  --solid-green500: #34ac0a;
  --solid-green400: #38bb04;
  --solid-green300: #48cb14;
  --solid-green200: #61e33c;
  --solid-green100: #b0e899;
  --solid-green90: #bfecab;
  --solid-green80: #caf1ba;
  --solid-green70: #d8f3cc;
  --solid-green60: #e1f6d9;
  --solid-green50: #ebf9e6;
  --solid-orange1400: #180900;
  --solid-orange1300: #261102;
  --solid-orange1200: #371801;
  --solid-orange1100: #472103;
  --solid-orange1000: #572a06;
  --solid-orange900: #683409;
  --solid-orange800: #793e0e;
  --solid-orange700: #8c460a;
  --solid-orange600: #a14f00;
  --solid-orange500: #db6f0a;
  --solid-orange400: #f17804;
  --solid-orange300: #fe8512;
  --solid-orange200: #ffb061;
  --solid-orange100: #ffcc99;
  --solid-orange90: #ffd5ac;
  --solid-orange80: #ffdebc;
  --solid-orange70: #ffe5cc;
  --solid-orange60: #ffecd9;
  --solid-orange50: #fff2e6;
  --solid-red1400: #220002;
  --solid-red1300: #340005;
  --solid-red1200: #460009;
  --solid-red1100: #59030f;
  --solid-red1000: #6c0815;
  --solid-red900: #81071a;
  --solid-red800: #97061f;
  --solid-red700: #aa1528;
  --solid-red600: #c2122d;
  --solid-red500: #db1f36;
  --solid-red400: #e41f36;
  --solid-red300: #f8334a;
  --solid-red200: #ff6973;
  --solid-red100: #ffa5ae;
  --solid-red90: #ffb6bd;
  --solid-red80: #ffc3c9;
  --solid-red70: #ffd2d6;
  --solid-red60: #ffdde1;
  --solid-red50: #ffe9eb;
  --solid-gray1400: #050b22;
  --solid-gray1300: #0d162e;
  --solid-gray1200: #17203a;
  --solid-gray1100: #212c46;
  --solid-gray1000: #2c3752;
  --solid-gray900: #37435f;
  --solid-gray800: #434f6c;
  --solid-gray700: #4f5c79;
  --solid-gray600: #5b6888;
  --solid-gray500: #697797;
  --solid-gray400: #7683a0;
  --solid-gray300: #8391af;
  --solid-gray200: #919ebe;
  --solid-gray100: #a0acca;
  --solid-gray90: #b1bad2;
  --solid-gray80: #c0c9dd;
  --solid-gray70: #d0d8e9;
  --solid-gray60: #e1e6f4;
  --solid-gray50: #f3f5fa;
  --transparent-blue300a: rgba(4, 104, 255, 0.8);
  --transparent-blue200a: rgba(4, 104, 255, 0.6);
  --transparent-blue100a: rgba(4, 104, 255, 0.4);
  --transparent-blue90a: rgba(4, 104, 255, 0.3);
  --transparent-blue80a: rgba(4, 104, 255, 0.25);
  --transparent-blue70a: rgba(4, 104, 255, 0.2);
  --transparent-blue60a: rgba(4, 104, 255, 0.15);
  --transparent-blue50a: rgba(4, 104, 255, 0.1);
  --transparent-green300a: rgba(58, 197, 0, 0.8);
  --transparent-green200a: rgba(58, 197, 0, 0.6);
  --transparent-green100a: rgba(58, 197, 0, 0.4);
  --transparent-green90a: rgba(58, 197, 0, 0.3);
  --transparent-green80a: rgba(58, 197, 0, 0.25);
  --transparent-green70a: rgba(58, 197, 0, 0.2);
  --transparent-green60a: rgba(58, 197, 0, 0.15);
  --transparent-green50a: rgba(58, 197, 0, 0.1);
  --transparent-orange300a: rgba(255, 126, 0, 0.8);
  --transparent-orange200a: rgba(255, 126, 0, 0.6);
  --transparent-orange100a: rgba(255, 126, 0, 0.4);
  --transparent-orange90a: rgba(255, 126, 0, 0.3);
  --transparent-orange80a: rgba(255, 126, 0, 0.25);
  --transparent-orange70a: rgba(255, 126, 0, 0.2);
  --transparent-orange60a: rgba(255, 126, 0, 0.15);
  --transparent-orange50a: rgba(255, 126, 0, 0.1);
  --transparent-red300a: rgba(255, 31, 52, 0.8);
  --transparent-red200a: rgba(255, 31, 52, 0.6);
  --transparent-red100a: rgba(255, 31, 52, 0.4);
  --transparent-red90a: rgba(255, 31, 52, 0.3);
  --transparent-red80a: rgba(255, 31, 52, 0.25);
  --transparent-red70a: rgba(255, 31, 52, 0.2);
  --transparent-red60a: rgba(255, 31, 52, 0.15);
  --transparent-red50a: rgba(255, 31, 52, 0.1);
  --transparent-gray300a: rgba(17, 33, 72, 0.8);
  --transparent-gray200a: rgba(16, 33, 74, 0.6);
  --transparent-gray100a: rgba(14, 29, 87, 0.4);
  --transparent-gray90a: rgba(0, 20, 99, 0.3);
  --transparent-gray80a: rgba(0, 23, 113, 0.25);
  --transparent-gray70a: rgba(0, 25, 125, 0.2);
  --transparent-gray60a: rgba(0, 34, 176, 0.15);
  --transparent-gray50a: rgba(85, 100, 245, 0.1);
  --transparent-white800a: rgba(255, 255, 255, 0.9);
  --transparent-white700a: rgba(255, 255, 255, 0.85);
  --transparent-white600a: rgba(255, 255, 255, 0.8);
  --transparent-white500a: rgba(255, 255, 255, 0.75);
  --transparent-white400a: rgba(255, 255, 255, 0.7);
  --transparent-white300a: rgba(255, 255, 255, 0.6);
  --transparent-white200a: rgba(255, 255, 255, 0.4);
  --transparent-white100a: rgba(255, 255, 255, 0.35);
  --transparent-white90a: rgba(255, 255, 255, 0.3);
  --transparent-white80a: rgba(255, 255, 255, 0.25);
  --transparent-white70a: rgba(255, 255, 255, 0.2);
  --transparent-white60a: rgba(255, 255, 255, 0.1);
  --transparent-white50a: rgba(255, 255, 255, 0.06);
  --transparent-white0a: rgba(255, 255, 255, 0);
  --transparent-black800a: rgba(0, 0, 0, 0.9);
  --transparent-black700a: rgba(0, 0, 0, 0.85);
  --transparent-black600a: rgba(0, 0, 0, 0.8);
  --transparent-black500a: rgba(0, 0, 0, 0.75);
  --transparent-black400a: rgba(0, 0, 0, 0.7);
  --transparent-black300a: rgba(0, 0, 0, 0.6);
  --transparent-black200a: rgba(0, 0, 0, 0.4);
  --transparent-black100a: rgba(0, 0, 0, 0.35);
  --transparent-black90a: rgba(0, 0, 0, 0.3);
  --transparent-black80a: rgba(0, 0, 0, 0.25);
  --transparent-black70a: rgba(0, 0, 0, 0.2);
  --transparent-black60a: rgba(0, 0, 0, 0.1);
  --transparent-black50a: rgba(0, 0, 0, 0.06);
  --transparent-black0a: rgba(0, 0, 0, 0);
  --decorative_yellow: #fff500;
  --decorative_purple: #8729ff;
  --decorative_violet: #9900cc;
  --decorative_magentum: #8b008b;
  --decorative_eggplant: #4c0066;
  --decorative_lavender: #f3eaff;
  --decorative_lavender-transparent: rgba(135, 41, 255, 0.1);
  --decorative_blackberry500: #1d1346;
  --decorative_blackberry700: #19103c;
  --decorative_bronze: #fdc889;
  --decorative_silver: #d5d8e0;
  --decorative_gold: #fbd15e;
  --decorative_platinum: #081c62;
  --decorative_deeporange: #ff7e00;
  --brand_space: #020f21;
  --brand_midnight: #031938;
  --brand_navy: #031d40;
  --brand_royalblue: #032553;
  --brand_indigo: #023a85;
  --brand_sapphire: #015bd4;
  --brand_lapis: #006cfd;
  --brand_azure: #3484fd;
  --brand_cornflowerblue: #8aabfe;
  --brand_sky: #9ec1fe;
  --brand_denim: #87aee8;
  --brand_cyan: #c1e8fd;
  --brand_iris: #c9c8ff;
  --brand_mauve: #f0daff;
  --brand_pink: #ffe1ff;
  --brand_peach: #ffdcc8;
  --brand_sand: #ffebaf;
}
