@import './commonPalette.css';

:root,
.design-theme--light {
  --background-primary: var(--solid-white);
  --background-secondary: var(--solid-gray50) !important;
  --background-elevation: var(--solid-white);
  --surface-neutral-default: var(--solid-gray50);
  --surface-neutral-hovered: var(--solid-gray70);
  --surface-neutral-pressed: var(--solid-gray80);
  --surface-neutral-selected: var(--solid-gray60);
  --surface-neutral-disabled: var(--solid-gray60);
  --surface-main-default: var(--solid-blue50);
  --surface-main-hovered: var(--solid-blue70);
  --surface-main-pressed: var(--solid-blue80);
  --surface-main-selected: var(--solid-blue60);
  --surface-main-disabled: var(--solid-gray60);
  --surface-positive-default: var(--solid-green50);
  --surface-positive-hovered: var(--solid-green70);
  --surface-positive-pressed: var(--solid-green80);
  --surface-positive-selected: var(--solid-green60);
  --surface-positive-disabled: var(--solid-gray60);
  --surface-warning-default: var(--solid-orange50);
  --surface-warning-hovered: var(--solid-orange70);
  --surface-warning-pressed: var(--solid-orange80);
  --surface-warning-selected: var(--solid-orange60);
  --surface-warning-disabled: var(--solid-gray60);
  --surface-negative-default: var(--solid-red50);
  --surface-negative-hovered: var(--solid-red70);
  --surface-negative-pressed: var(--solid-red80);
  --surface-negative-selected: var(--solid-red60);
  --surface-negative-disabled: var(--solid-gray60);
  --surface-inverted-default: var(--solid-white);
  --surface-inverted-hovered: var(--solid-blue60);
  --surface-inverted-pressed: var(--solid-blue70);
  --surface-inverted-selected: var(--solid-blue50);
  --surface-inverted-disabled: var(--solid-gray60);
  --text-primary-default: var(--solid-gray1300);
  --text-primary-hovered: var(--solid-gray1200);
  --text-primary-pressed: var(--solid-gray1100);
  --text-primary-disabled: var(--solid-gray90);
  --text-secondary-default: var(--solid-gray500);
  --text-secondary-hovered: var(--solid-gray600);
  --text-secondary-pressed: var(--solid-gray700);
  --text-secondary-disabled: var(--solid-gray90);
  --text-inverted-default: var(--solid-white);
  --text-inverted-hovered: var(--solid-gray50);
  --text-inverted-pressed: var(--solid-gray60);
  --text-inverted-disabled: var(--solid-gray90);
  --text-main-default: var(--solid-blue600);
  --text-main-hovered: var(--solid-blue700);
  --text-main-pressed: var(--solid-blue800);
  --text-main-disabled: var(--solid-gray90);
  --text-positive-default: var(--solid-green600);
  --text-positive-hovered: var(--solid-green700);
  --text-positive-pressed: var(--solid-green800);
  --text-positive-disabled: var(--solid-gray90);
  --text-warning-default: var(--solid-orange600);
  --text-warning-hovered: var(--solid-orange700);
  --text-warning-pressed: var(--solid-orange800);
  --text-warning-disabled: var(--solid-gray90);
  --text-negative-default: var(--solid-red600);
  --text-negative-hovered: var(--solid-red700);
  --text-negative-pressed: var(--solid-red800);
  --text-negative-disabled: var(--solid-gray90);
  --text-on-bright-default: var(--solid-white);
  --text-on-bright-hovered: var(--solid-gray50);
  --text-on-bright-pressed: var(--solid-gray60);
  --text-on-bright-disabled: var(--solid-gray90);
  --icon-primary-default: var(--solid-gray1100);
  --icon-primary-hovered: var(--solid-gray1200);
  --icon-primary-pressed: var(--solid-gray1300);
  --icon-primary-disabled: var(--solid-gray90);
  --icon-secondary-default: var(--solid-gray400);
  --icon-secondary-hovered: var(--solid-gray500);
  --icon-secondary-pressed: var(--solid-gray600);
  --icon-secondary-disabled: var(--solid-gray90);
  --icon-inverted-default: var(--solid-white);
  --icon-inverted-hovered: var(--solid-gray50);
  --icon-inverted-pressed: var(--solid-gray60);
  --icon-inverted-disabled: var(--solid-gray90);
  --icon-main-default: var(--solid-blue500);
  --icon-main-hovered: var(--solid-blue600);
  --icon-main-pressed: var(--solid-blue700);
  --icon-main-disabled: var(--solid-gray90);
  --icon-positive-default: var(--solid-green600);
  --icon-positive-hovered: var(--solid-green700);
  --icon-positive-pressed: var(--solid-green800);
  --icon-positive-disabled: var(--solid-gray90);
  --icon-warning-default: var(--solid-orange600);
  --icon-warning-hovered: var(--solid-orange700);
  --icon-warning-pressed: var(--solid-orange800);
  --icon-warning-disabled: var(--solid-gray90);
  --icon-negative-default: var(--solid-red600);
  --icon-negative-hovered: var(--solid-red700);
  --icon-negative-pressed: var(--solid-red800);
  --icon-negative-disabled: var(--solid-gray90);
  --icon-on-bright-default: var(--solid-white);
  --icon-on-bright-hovered: var(--solid-gray50);
  --icon-on-bright-pressed: var(--solid-gray60);
  --icon-on-bright-disabled: var(--solid-gray90);
  --control-main-primary-default: var(--solid-blue500);
  --control-main-primary-hovered: var(--solid-blue600);
  --control-main-primary-pressed: var(--solid-blue700);
  --control-main-primary-disabled: var(--solid-gray60);
  --control-main-secondary-default: var(--solid-blue50);
  --control-main-secondary-hovered: var(--solid-blue60);
  --control-main-secondary-pressed: var(--solid-blue70);
  --control-main-secondary-disabled: var(--solid-gray60);
  --control-positive-primary-default: var(--solid-green500);
  --control-positive-primary-hovered: var(--solid-green600);
  --control-positive-primary-pressed: var(--solid-green700);
  --control-positive-primary-disabled: var(--solid-gray60);
  --control-positive-secondary-default: var(--solid-green50);
  --control-positive-secondary-hovered: var(--solid-green60);
  --control-positive-secondary-pressed: var(--solid-green70);
  --control-positive-secondary-disabled: var(--solid-gray60);
  --control-warning-primary-default: var(--solid-orange500);
  --control-warning-primary-hovered: var(--solid-orange600);
  --control-warning-primary-pressed: var(--solid-orange700);
  --control-warning-primary-disabled: var(--solid-gray60);
  --control-warning-secondary-default: var(--solid-orange50);
  --control-warning-secondary-hovered: var(--solid-orange60);
  --control-warning-secondary-pressed: var(--solid-orange70);
  --control-warning-secondary-disabled: var(--solid-gray60);
  --control-negative-primary-default: var(--solid-red500);
  --control-negative-primary-hovered: var(--solid-red600);
  --control-negative-primary-pressed: var(--solid-red700);
  --control-negative-primary-disabled: var(--solid-gray60);
  --control-negative-secondary-default: var(--solid-red50);
  --control-negative-secondary-hovered: var(--solid-red60);
  --control-negative-secondary-pressed: var(--solid-red70);
  --control-negative-secondary-disabled: var(--solid-gray60);
  --control-inverted-primary-default: var(--solid-white);
  --control-inverted-primary-hovered: var(--solid-blue60);
  --control-inverted-primary-pressed: var(--solid-blue70);
  --control-inverted-primary-disabled: var(--solid-gray60);
  --stroke-divider-default: var(--solid-gray70);
  --stroke-divider-neutral: var(--solid-gray50);
  --stroke-divider-main: var(--solid-blue200);
  --stroke-divider-positive: var(--solid-green100);
  --stroke-divider-warning: var(--solid-orange200);
  --stroke-divider-negative: var(--solid-red200);
  --stroke-border-default: var(--solid-gray70);
  --stroke-border-neutral: var(--solid-gray50);
  --stroke-border-main: var(--solid-blue400);
  --stroke-border-positive: var(--solid-green400);
  --stroke-border-warning: var(--solid-orange400);
  --stroke-border-negative: var(--solid-red400);
  --stroke-control-default: var(--solid-gray70);
  --stroke-control-hovered: var(--solid-gray80);
  --stroke-control-pressed: var(--solid-blue200);
  --stroke-control-selected: var(--solid-blue300);
  --stroke-control-focused: var(--solid-blue200);
  --stroke-control-disabled: var(--solid-gray60);
  --accent-main-primary: var(--solid-blue600);
  --accent-main-secondary: var(--solid-blue60);
  --accent-positive-primary: var(--solid-green600);
  --accent-positive-secondary: var(--solid-green60);
  --accent-warning-primary: var(--solid-orange600);
  --accent-warning-secondary: var(--solid-orange60);
  --accent-negative-primary: var(--solid-red600);
  --accent-negative-secondary: var(--solid-red60);
  --accent-ghost-primary: var(--solid-gray500);
  --accent-ghost-secondary: var(--solid-gray60);
  --overlay-default: var(--transparent-black200a);
  --overlay-control-default: var(--transparent-black80a);
  --overlay-control-inverted: var(--transparent-white80a);
  --overlay-media-banner: var(--transparent-black300a);
  --overlay-popover: var(--transparent-black600a);
  --overlay-negative: var(--transparent-red200a);
  --shadow-default: var(--transparent-black60a);
  --decorative-orange: var(--solid-orange300);
  --decorative-yellow: var(--decorative_yellow);
  --decorative-purple: var(--decorative_purple);
  --decorative-violet: var(--decorative_violet);
  --decorative-magentum: var(--decorative_magentum);
  --decorative-lavender: var(--decorative_lavender);
  --decorative-lavender-transparent: var(--decorative_lavender-transparent);
  --decorative-deeporange-vas: var(--decorative_deeporange);
  --decorative-blackberry: var(--decorative_blackberry500);
  --decorative-blackberry-dark: var(--decorative_blackberry700);
  --theme-blue: var(--solid-blue500);
  --theme-green: var(--solid-green500);
  --theme-orange: var(--solid-orange500);
  --theme-red: var(--solid-red500);
  --theme-gray: var(--solid-gray500);
  --theme-dark: var(--solid-gray1200);
  --theme-black: var(--solid-black);
  --theme-white: var(--solid-white);
  --subscription-bronze: var(--decorative_bronze);
  --subscription-silver: var(--decorative_silver);
  --subscription-gold: var(--decorative_gold);
  --subscription-platinum: var(--decorative_platinum);
  --brand-space: var(--brand_space);
  --brand-midnight: var(--brand_midnight);
  --brand-navy: var(--brand_navy);
  --brand-royalblue: var(--brand_royalblue);
  --brand-indigo: var(--brand_indigo);
  --brand-sapphire: var(--brand_sapphire);
  --brand-lapis: var(--brand_lapis);
  --brand-azure: var(--brand_azure);
  --brand-cornflowerblue: var(--brand_cornflowerblue);
  --brand-sky: var(--brand_sky);
  --brand-denim: var(--brand_denim);
  --brand-cyan: var(--brand_cyan);
  --brand-iris: var(--brand_iris);
  --brand-mauve: var(--brand_mauve);
  --brand-pink: var(--brand_pink);
  --brand-peach: var(--brand_peach);
  --brand-sand: var(--brand_sand);
  --brand-black: var(--solid-black);
  --brand-white: var(--solid-white);
  --cian-logo: #0054FD;
  --cian-logo-inverted: var(--solid-white);
}
.design-theme--dark {
  --background-primary: var(--solid-gray1300);
  --background-secondary: var(--solid-gray1100) !important;
  --background-elevation: var(--solid-gray1100);
  --surface-neutral-default: var(--solid-gray1100);
  --surface-neutral-hovered: var(--solid-gray900);
  --surface-neutral-pressed: var(--solid-gray800);
  --surface-neutral-selected: var(--solid-gray1000);
  --surface-neutral-disabled: var(--solid-gray800);
  --surface-main-default: var(--solid-blue1100);
  --surface-main-hovered: var(--solid-blue900);
  --surface-main-pressed: var(--solid-blue800);
  --surface-main-selected: var(--solid-blue1000);
  --surface-main-disabled: var(--solid-gray800);
  --surface-positive-default: var(--solid-green1100);
  --surface-positive-hovered: var(--solid-green900);
  --surface-positive-pressed: var(--solid-green800);
  --surface-positive-selected: var(--solid-green1000);  
  --surface-positive-disabled: var(--solid-gray800);
  --surface-warning-default: var(--solid-orange1100);
  --surface-warning-hovered: var(--solid-orange900);
  --surface-warning-pressed: var(--solid-orange800);
  --surface-warning-selected: var(--solid-orange1000);
  --surface-warning-disabled: var(--solid-gray800);
  --surface-negative-default: var(--solid-red1100);
  --surface-negative-hovered: var(--solid-red900);
  --surface-negative-pressed: var(--solid-red800);
  --surface-negative-selected: var(--solid-red1000);
  --surface-negative-disabled: var(--solid-gray800);
  --surface-inverted-default: var(--solid-gray1400);
  --surface-inverted-hovered: var(--solid-gray1300);
  --surface-inverted-pressed: var(--solid-gray1200);
  --surface-inverted-selected: var(--solid-blue1100);
  --surface-inverted-disabled: var(--solid-gray800);
  --text-primary-default: var(--solid-white);
  --text-primary-hovered: var(--solid-gray50);
  --text-primary-pressed: var(--solid-gray60);
  --text-primary-disabled: var(--solid-gray500);
  --text-secondary-default: var(--solid-gray100);
  --text-secondary-hovered: var(--solid-gray200);
  --text-secondary-pressed: var(--solid-gray300);
  --text-secondary-disabled: var(--solid-gray500);
  --text-inverted-default: var(--solid-gray1300);
  --text-inverted-hovered: var(--solid-gray1200);
  --text-inverted-pressed: var(--solid-gray1100);
  --text-inverted-disabled: var(--solid-gray500);
  --text-main-default: var(--solid-blue90);
  --text-main-hovered: var(--solid-blue100);
  --text-main-pressed: var(--solid-blue200);
  --text-main-disabled: var(--solid-gray500);
  --text-positive-default: var(--solid-green90);
  --text-positive-hovered: var(--solid-green100);
  --text-positive-pressed: var(--solid-green200);
  --text-positive-disabled: var(--solid-gray500);
  --text-warning-default: var(--solid-orange90);
  --text-warning-hovered: var(--solid-orange100);
  --text-warning-pressed: var(--solid-orange200);
  --text-warning-disabled: var(--solid-gray500);
  --text-negative-default: var(--solid-red90);
  --text-negative-hovered: var(--solid-red100);
  --text-negative-pressed: var(--solid-red200);
  --text-negative-disabled: var(--solid-gray500);
  --text-on-bright-default: var(--solid-white);
  --text-on-bright-hovered: var(--solid-gray50);
  --text-on-bright-pressed: var(--solid-gray60);
  --text-on-bright-disabled: var(--solid-gray500);
  --icon-primary-default: var(--solid-gray50);
  --icon-primary-hovered: var(--solid-gray60);
  --icon-primary-pressed: var(--solid-gray70);
  --icon-primary-disabled: var(--solid-gray500);
  --icon-secondary-default: var(--solid-gray200);
  --icon-secondary-hovered: var(--solid-gray300);
  --icon-secondary-pressed: var(--solid-gray400);
  --icon-secondary-disabled: var(--solid-gray500);
  --icon-inverted-default: var(--solid-gray1300);
  --icon-inverted-hovered: var(--solid-gray1200);
  --icon-inverted-pressed: var(--solid-gray1100);
  --icon-inverted-disabled: var(--solid-gray500);
  --icon-main-default: var(--solid-blue100);
  --icon-main-hovered: var(--solid-blue200);
  --icon-main-pressed: var(--solid-blue300);
  --icon-main-disabled: var(--solid-gray500);
  --icon-positive-default: var(--solid-green100);
  --icon-positive-hovered: var(--solid-green200);
  --icon-positive-pressed: var(--solid-green300);
  --icon-positive-disabled: var(--solid-gray500);
  --icon-warning-default: var(--solid-orange100);
  --icon-warning-hovered: var(--solid-orange200);
  --icon-warning-pressed: var(--solid-orange300);
  --icon-warning-disabled: var(--solid-gray500);
  --icon-negative-default: var(--solid-red100);
  --icon-negative-hovered: var(--solid-red200);
  --icon-negative-pressed: var(--solid-red300);
  --icon-negative-disabled: var(--solid-gray500);
  --icon-on-bright-default: var(--solid-white);
  --icon-on-bright-hovered: var(--solid-gray50);
  --icon-on-bright-pressed: var(--solid-gray60);
  --icon-on-bright-disabled: var(--solid-gray500);
  --control-main-primary-default: var(--solid-blue300);
  --control-main-primary-hovered: var(--solid-blue400);
  --control-main-primary-pressed: var(--solid-blue500);
  --control-main-primary-disabled: var(--solid-gray800);
  --control-main-secondary-default: var(--solid-blue900);
  --control-main-secondary-hovered: var(--solid-blue800);
  --control-main-secondary-pressed: var(--solid-blue700);
  --control-main-secondary-disabled: var(--solid-gray800);
  --control-positive-primary-default: var(--solid-green300);
  --control-positive-primary-hovered: var(--solid-green400);
  --control-positive-primary-pressed: var(--solid-green500);
  --control-positive-primary-disabled: var(--solid-gray800);
  --control-positive-secondary-default: var(--solid-green900);
  --control-positive-secondary-hovered: var(--solid-green800);
  --control-positive-secondary-pressed: var(--solid-green700);
  --control-positive-secondary-disabled: var(--solid-gray800);
  --control-warning-primary-default: var(--solid-orange300);
  --control-warning-primary-hovered: var(--solid-orange400);
  --control-warning-primary-pressed: var(--solid-orange500);
  --control-warning-primary-disabled: var(--solid-gray800);
  --control-warning-secondary-default: var(--solid-orange900);
  --control-warning-secondary-hovered: var(--solid-orange800);
  --control-warning-secondary-pressed: var(--solid-orange700);
  --control-warning-secondary-disabled: var(--solid-gray800);
  --control-negative-primary-default: var(--solid-red300);
  --control-negative-primary-hovered: var(--solid-red400);
  --control-negative-primary-pressed: var(--solid-red500);
  --control-negative-primary-disabled: var(--solid-gray800);
  --control-negative-secondary-default: var(--solid-red900);
  --control-negative-secondary-hovered: var(--solid-red800);
  --control-negative-secondary-pressed: var(--solid-red700);
  --control-negative-secondary-disabled: var(--solid-gray800);
  --control-inverted-primary-default: var(--solid-gray1400);
  --control-inverted-primary-hovered: var(--solid-gray1300);
  --control-inverted-primary-pressed: var(--solid-gray1200);
  --control-inverted-primary-disabled: var(--solid-gray800);
  --stroke-divider-default: var(--solid-gray700);
  --stroke-divider-neutral: var(--solid-gray1000);
  --stroke-divider-main: var(--solid-blue700);
  --stroke-divider-positive: var(--solid-green700);
  --stroke-divider-warning: var(--solid-orange700);
  --stroke-divider-negative: var(--solid-red700);
  --stroke-border-default: var(--solid-gray700);
  --stroke-border-neutral: var(--solid-gray1000);
  --stroke-border-main: var(--solid-blue700);
  --stroke-border-positive: var(--solid-green700);
  --stroke-border-warning: var(--solid-orange700);
  --stroke-border-negative: var(--solid-red700);
  --stroke-control-default: var(--solid-gray500);
  --stroke-control-hovered: var(--solid-gray300);
  --stroke-control-pressed: var(--solid-blue200);
  --stroke-control-selected: var(--solid-blue300);
  --stroke-control-focused: var(--solid-blue200);
  --stroke-control-disabled: var(--solid-gray600);
  --accent-main-primary: var(--solid-blue100);
  --accent-main-secondary: var(--solid-blue900);
  --accent-positive-primary: var(--solid-green100);
  --accent-positive-secondary: var(--solid-green900);
  --accent-warning-primary: var(--solid-orange100);
  --accent-warning-secondary: var(--solid-orange900);
  --accent-negative-primary: var(--solid-red100);
  --accent-negative-secondary: var(--solid-red900);
  --accent-ghost-primary: var(--solid-gray100);
  --accent-ghost-secondary: var(--solid-gray900);
  --overlay-default: var(--transparent-black400a);
  --overlay-control-default: var(--transparent-white80a);
  --overlay-control-inverted: var(--transparent-black80a);
  --overlay-media-banner: var(--transparent-black300a);
  --overlay-popover: var(--transparent-black700a);
  --overlay-negative: var(--transparent-red200a);
  --shadow-default: var(--transparent-black0a);
  --decorative-orange: var(--solid-orange300);
  --decorative-yellow: var(--decorative_yellow);
  --decorative-purple: var(--decorative_purple);
  --decorative-violet: var(--decorative_lavender);
  --decorative-magentum: var(--decorative_magentum);
  --decorative-lavender: var(--decorative_eggplant);
  --decorative-lavender-transparent: var(--decorative_lavender-transparent);
  --decorative-deeporange-vas: var(--decorative_deeporange);
  --decorative-blackberry: var(--decorative_blackberry500);
  --decorative-blackberry-dark: var(--decorative_blackberry700);
  --theme-blue: var(--solid-blue500);
  --theme-green: var(--solid-green500);
  --theme-orange: var(--solid-orange500);
  --theme-red: var(--solid-red500);
  --theme-gray: var(--solid-gray500);
  --theme-dark: var(--solid-gray1200);
  --theme-black: var(--solid-black);
  --theme-white: var(--solid-white);
  --subscription-bronze: var(--decorative_bronze);
  --subscription-silver: var(--decorative_silver);
  --subscription-gold: var(--decorative_gold);
  --subscription-platinum: var(--decorative_platinum);
  --brand-space: var(--brand_space);
  --brand-midnight: var(--brand_midnight);
  --brand-navy: var(--brand_navy);
  --brand-royalblue: var(--brand_royalblue);
  --brand-indigo: var(--brand_indigo);
  --brand-sapphire: var(--brand_sapphire);
  --brand-lapis: var(--brand_lapis);
  --brand-azure: var(--brand_azure);
  --brand-cornflowerblue: var(--brand_cornflowerblue);
  --brand-sky: var(--brand_sky);
  --brand-denim: var(--brand_denim);
  --brand-cyan: var(--brand_cyan);
  --brand-iris: var(--brand_iris);
  --brand-mauve: var(--brand_mauve);
  --brand-pink: var(--brand_pink);
  --brand-peach: var(--brand_peach);
  --brand-sand: var(--brand_sand);
  --brand-black: var(--solid-black);
  --brand-white: var(--solid-white);
  --cian-logo: var(--solid-white);
  --cian-logo-inverted: #0054FD;
}
.design-theme--colored {
  --background-primary: var(--transparent-white0a);
  --background-secondary: var(--transparent-white200a) !important;
  --background-elevation: var(--transparent-white200a);
  --surface-neutral-default: var(--transparent-white90a);
  --surface-neutral-hovered: var(--transparent-white200a);
  --surface-neutral-pressed: var(--transparent-white300a);
  --surface-neutral-selected: var(--transparent-white100a);
  --surface-neutral-disabled: var(--transparent-white80a);
  --surface-main-default: var(--transparent-white100a);
  --surface-main-hovered: var(--transparent-white300a);
  --surface-main-pressed: var(--transparent-white400a);
  --surface-main-selected: var(--transparent-white200a);
  --surface-main-disabled: var(--transparent-white80a);
  --surface-positive-default: var(--transparent-white100a);
  --surface-positive-hovered: var(--transparent-white300a);
  --surface-positive-pressed: var(--transparent-white400a);
  --surface-positive-selected: var(--transparent-white200a);
  --surface-positive-disabled: var(--transparent-white80a);
  --surface-warning-default: var(--transparent-white100a);
  --surface-warning-hovered: var(--transparent-white300a);
  --surface-warning-pressed: var(--transparent-white400a);
  --surface-warning-selected: var(--transparent-white200a);
  --surface-warning-disabled: var(--transparent-white80a);
  --surface-negative-default: var(--transparent-white100a);
  --surface-negative-hovered: var(--transparent-white300a);
  --surface-negative-pressed: var(--transparent-white400a);
  --surface-negative-selected: var(--transparent-white200a);
  --surface-negative-disabled: var(--transparent-white80a);
  --surface-inverted-default: var(--transparent-white70a);
  --surface-inverted-hovered: var(--transparent-white90a);
  --surface-inverted-pressed: var(--transparent-white100a);
  --surface-inverted-selected: var(--transparent-white80a);
  --surface-inverted-disabled: var(--transparent-white80a);
  --text-primary-default: var(--solid-white);
  --text-primary-hovered: var(--transparent-white800a);
  --text-primary-pressed: var(--transparent-white700a);
  --text-primary-disabled: var(--transparent-white200a);
  --text-secondary-default: var(--transparent-white300a);
  --text-secondary-hovered: var(--transparent-white400a);
  --text-secondary-pressed: var(--transparent-white500a);
  --text-secondary-disabled: var(--transparent-white200a);
  --text-inverted-default: var(--solid-gray900);
  --text-inverted-hovered: var(--solid-gray800);
  --text-inverted-pressed: var(--solid-gray700);
  --text-inverted-disabled: var(--transparent-white200a);
  --text-main-default: var(--solid-white);
  --text-main-hovered: var(--transparent-white800a);
  --text-main-pressed: var(--transparent-white700a);
  --text-main-disabled: var(--transparent-white200a);
  --text-positive-default: var(--solid-white);
  --text-positive-hovered: var(--transparent-white800a);
  --text-positive-pressed: var(--transparent-white700a);
  --text-positive-disabled: var(--transparent-white200a);
  --text-warning-default: var(--solid-white);
  --text-warning-hovered: var(--transparent-white800a);
  --text-warning-pressed: var(--transparent-white700a);
  --text-warning-disabled: var(--transparent-white200a);
  --text-negative-default: var(--solid-white);
  --text-negative-hovered: var(--transparent-white800a);
  --text-negative-pressed: var(--transparent-white700a);
  --text-negative-disabled: var(--transparent-white200a);
  --text-on-bright-default: var(--solid-gray900);
  --text-on-bright-hovered: var(--solid-gray800);
  --text-on-bright-pressed: var(--solid-gray700);
  --text-on-bright-disabled: var(--transparent-white200a);
  --icon-primary-default: var(--transparent-white800a);
  --icon-primary-hovered: var(--transparent-white700a);
  --icon-primary-pressed: var(--transparent-white600a);
  --icon-primary-disabled: var(--transparent-white200a);
  --icon-secondary-default: var(--transparent-white300a);
  --icon-secondary-hovered: var(--transparent-white400a);
  --icon-secondary-pressed: var(--transparent-white500a);
  --icon-secondary-disabled: var(--transparent-white200a);
  --icon-inverted-default: var(--solid-gray900);
  --icon-inverted-hovered: var(--solid-gray800);
  --icon-inverted-pressed: var(--solid-gray700);
  --icon-inverted-disabled: var(--transparent-white200a);
  --icon-main-default: var(--solid-white);
  --icon-main-hovered: var(--transparent-white800a);
  --icon-main-pressed: var(--transparent-white700a);
  --icon-main-disabled: var(--transparent-white200a);
  --icon-positive-default: var(--solid-white);
  --icon-positive-hovered: var(--transparent-white800a);
  --icon-positive-pressed: var(--transparent-white700a);
  --icon-positive-disabled: var(--transparent-white200a);
  --icon-warning-default: var(--solid-white);
  --icon-warning-hovered: var(--transparent-white800a);
  --icon-warning-pressed: var(--transparent-white700a);
  --icon-warning-disabled: var(--transparent-white200a);
  --icon-negative-default: var(--solid-white);
  --icon-negative-hovered: var(--transparent-white800a);
  --icon-negative-pressed: var(--transparent-white700a);
  --icon-negative-disabled: var(--transparent-white200a);
  --icon-on-bright-default: var(--solid-gray900);
  --icon-on-bright-hovered: var(--solid-gray800);
  --icon-on-bright-pressed: var(--solid-gray700);
  --icon-on-bright-disabled: var(--transparent-white200a);
  --control-main-primary-default: var(--solid-white);
  --control-main-primary-hovered: var(--transparent-white400a);
  --control-main-primary-pressed: var(--transparent-white300a);
  --control-main-primary-disabled: var(--transparent-white80a);
  --control-main-secondary-default: var(--transparent-white90a);
  --control-main-secondary-hovered: var(--transparent-white80a);
  --control-main-secondary-pressed: var(--transparent-white70a);
  --control-main-secondary-disabled: var(--transparent-white80a);
  --control-positive-primary-default: var(--solid-white);
  --control-positive-primary-hovered: var(--transparent-white400a);
  --control-positive-primary-pressed: var(--transparent-white300a);
  --control-positive-primary-disabled: var(--transparent-white80a);
  --control-positive-secondary-default: var(--transparent-white90a);
  --control-positive-secondary-hovered: var(--transparent-white80a);
  --control-positive-secondary-pressed: var(--transparent-white70a);
  --control-positive-secondary-disabled: var(--transparent-white80a);
  --control-warning-primary-default: var(--solid-white);
  --control-warning-primary-hovered: var(--transparent-white400a);
  --control-warning-primary-pressed: var(--transparent-white300a);
  --control-warning-primary-disabled: var(--transparent-white80a);
  --control-warning-secondary-default: var(--transparent-white90a);
  --control-warning-secondary-hovered: var(--transparent-white80a);
  --control-warning-secondary-pressed: var(--transparent-white70a);
  --control-warning-secondary-disabled: var(--transparent-white80a);
  --control-negative-primary-default: var(--solid-white);
  --control-negative-primary-hovered: var(--transparent-white400a);
  --control-negative-primary-pressed: var(--transparent-white300a);
  --control-negative-primary-disabled: var(--transparent-white80a);
  --control-negative-secondary-default: var(--transparent-white90a);
  --control-negative-secondary-hovered: var(--transparent-white80a);
  --control-negative-secondary-pressed: var(--transparent-white70a);
  --control-negative-secondary-disabled: var(--transparent-white80a);
  --control-inverted-primary-default: var(--transparent-white90a);
  --control-inverted-primary-hovered: var(--transparent-white200a);
  --control-inverted-primary-pressed: var(--transparent-white300a);
  --control-inverted-primary-disabled: var(--transparent-white80a);
  --stroke-divider-default: var(--transparent-white200a);
  --stroke-divider-neutral: var(--transparent-white70a);
  --stroke-divider-main: var(--transparent-white100a);
  --stroke-divider-positive: var(--transparent-white100a);
  --stroke-divider-warning: var(--transparent-white100a);
  --stroke-divider-negative: var(--transparent-white100a);
  --stroke-border-default: var(--transparent-white200a);
  --stroke-border-neutral: var(--transparent-white70a);
  --stroke-border-main: var(--transparent-white200a);
  --stroke-border-positive: var(--transparent-white200a);
  --stroke-border-warning: var(--transparent-white200a);
  --stroke-border-negative: var(--transparent-white200a);
  --stroke-control-default: var(--transparent-white200a);
  --stroke-control-hovered: var(--transparent-white400a);
  --stroke-control-pressed: var(--transparent-white600a);
  --stroke-control-selected: var(--solid-white);
  --stroke-control-focused: var(--solid-blue200);
  --stroke-control-disabled: var(--transparent-white80a);
  --accent-main-primary: var(--solid-white);
  --accent-main-secondary: var(--transparent-white200a);
  --accent-positive-primary: var(--solid-white);
  --accent-positive-secondary: var(--transparent-white200a);
  --accent-warning-primary: var(--solid-white);
  --accent-warning-secondary: var(--transparent-white200a);
  --accent-negative-primary: var(--solid-white);
  --accent-negative-secondary: var(--transparent-white200a);
  --accent-ghost-primary: var(--solid-white);
  --accent-ghost-secondary: var(--transparent-white200a);
  --overlay-default: var(--transparent-black200a);
  --overlay-control-default: var(--transparent-white80a);
  --overlay-control-inverted: var(--transparent-black80a);
  --overlay-media-banner: var(--transparent-black300a);
  --overlay-popover: var(--transparent-black600a);
  --overlay-negative: var(--transparent-red200a);
  --shadow-default: var(--transparent-black60a);
  --decorative-orange: var(--solid-orange300);
  --decorative-yellow: var(--decorative_yellow);
  --decorative-purple: var(--decorative_purple);
  --decorative-violet: var(--decorative_violet);
  --decorative-magentum: var(--decorative_magentum);
  --decorative-lavender: var(--decorative_lavender);
  --decorative-lavender-transparent: var(--decorative_lavender-transparent);
  --decorative-deeporange-vas: var(--decorative_deeporange);
  --decorative-blackberry: var(--decorative_blackberry500);
  --decorative-blackberry-dark: var(--decorative_blackberry700);
  --theme-blue: var(--solid-blue500);
  --theme-green: var(--solid-green500);
  --theme-orange: var(--solid-orange500);
  --theme-red: var(--solid-red500);
  --theme-gray: var(--solid-gray500);
  --theme-dark: var(--solid-gray1200);
  --theme-black: var(--solid-black);
  --theme-white: var(--solid-white);
  --subscription-bronze: var(--decorative_bronze);
  --subscription-silver: var(--decorative_silver);
  --subscription-gold: var(--decorative_gold);
  --subscription-platinum: var(--decorative_platinum);
  --brand-space: var(--brand_space);
  --brand-midnight: var(--brand_midnight);
  --brand-navy: var(--brand_navy);
  --brand-royalblue: var(--brand_royalblue);
  --brand-indigo: var(--brand_indigo);
  --brand-sapphire: var(--brand_sapphire);
  --brand-lapis: var(--brand_lapis);
  --brand-azure: var(--brand_azure);
  --brand-cornflowerblue: var(--brand_cornflowerblue);
  --brand-sky: var(--brand_sky);
  --brand-denim: var(--brand_denim);
  --brand-cyan: var(--brand_cyan);
  --brand-iris: var(--brand_iris);
  --brand-mauve: var(--brand_mauve);
  --brand-pink: var(--brand_pink);
  --brand-peach: var(--brand_peach);
  --brand-sand: var(--brand_sand);
  --brand-black: var(--solid-black);
  --brand-white: var(--solid-white);
  --cian-logo: var(--solid-white);
  --cian-logo-inverted: #0054FD;
}
.design-theme--onOverlay {
  --background-primary: var(--transparent-black0a);
  --background-secondary: var(--transparent-black200a) !important;
  --background-elevation: var(--transparent-black200a);
  --surface-neutral-default: var(--transparent-black90a);
  --surface-neutral-hovered: var(--transparent-black100a);
  --surface-neutral-pressed: var(--transparent-black200a);
  --surface-neutral-selected: var(--transparent-black300a);
  --surface-neutral-disabled: var(--transparent-black80a);
  --surface-main-default: var(--transparent-black100a);
  --surface-main-hovered: var(--transparent-black200a);
  --surface-main-pressed: var(--transparent-black300a);
  --surface-main-selected: var(--transparent-black400a);
  --surface-main-disabled: var(--transparent-black80a);
  --surface-positive-default: var(--transparent-black100a);
  --surface-positive-hovered: var(--transparent-black200a);
  --surface-positive-pressed: var(--transparent-black300a);
  --surface-positive-selected: var(--transparent-black400a);
  --surface-positive-disabled: var(--transparent-black80a);
  --surface-warning-default: var(--transparent-black100a);
  --surface-warning-hovered: var(--transparent-black200a);
  --surface-warning-pressed: var(--transparent-black300a);
  --surface-warning-selected: var(--transparent-black400a);
  --surface-warning-disabled: var(--transparent-black80a);
  --surface-negative-default: var(--transparent-black100a);
  --surface-negative-hovered: var(--transparent-black200a);
  --surface-negative-pressed: var(--transparent-black300a);
  --surface-negative-selected: var(--transparent-black400a);
  --surface-negative-disabled: var(--transparent-black80a);
  --surface-inverted-default: var(--transparent-black70a);
  --surface-inverted-hovered: var(--transparent-black80a);
  --surface-inverted-pressed: var(--transparent-black90a);
  --surface-inverted-selected: var(--transparent-black100a);
  --surface-inverted-disabled: var(--transparent-black80a);
  --text-primary-default: var(--solid-white);
  --text-primary-hovered: var(--transparent-white800a);
  --text-primary-pressed: var(--transparent-white700a);
  --text-primary-disabled: var(--transparent-white200a);
  --text-secondary-default: var(--transparent-white300a);
  --text-secondary-hovered: var(--transparent-white400a);
  --text-secondary-pressed: var(--transparent-white500a);
  --text-secondary-disabled: var(--transparent-white200a);
  --text-inverted-default: var(--solid-white);
  --text-inverted-hovered: var(--transparent-white800a);
  --text-inverted-pressed: var(--transparent-white700a);
  --text-inverted-disabled: var(--transparent-white200a);
  --text-main-default: var(--solid-blue400);
  --text-main-hovered: var(--solid-blue500);
  --text-main-pressed: var(--solid-blue600);
  --text-main-disabled: var(--transparent-white200a);
  --text-positive-default: var(--solid-green400);
  --text-positive-hovered: var(--solid-green500);
  --text-positive-pressed: var(--solid-green600);
  --text-positive-disabled: var(--transparent-white200a);
  --text-warning-default: var(--solid-orange400);
  --text-warning-hovered: var(--solid-orange500);
  --text-warning-pressed: var(--solid-orange600);
  --text-warning-disabled: var(--transparent-white200a);
  --text-negative-default: var(--solid-red400);
  --text-negative-hovered: var(--solid-red500);
  --text-negative-pressed: var(--solid-red600);
  --text-negative-disabled: var(--transparent-white200a);
  --text-on-bright-default: var(--solid-white);
  --text-on-bright-hovered: var(--transparent-white800a);
  --text-on-bright-pressed: var(--transparent-white700a);
  --text-on-bright-disabled: var(--transparent-white200a);
  --icon-primary-default: var(--transparent-white800a);
  --icon-primary-hovered: var(--transparent-white700a);
  --icon-primary-pressed: var(--transparent-white600a);
  --icon-primary-disabled: var(--transparent-white200a);
  --icon-secondary-default: var(--transparent-white300a);
  --icon-secondary-hovered: var(--transparent-white400a);
  --icon-secondary-pressed: var(--transparent-white500a);
  --icon-secondary-disabled: var(--transparent-white200a);
  --icon-inverted-default: var(--transparent-white800a);
  --icon-inverted-hovered: var(--transparent-white700a);
  --icon-inverted-pressed: var(--transparent-white600a);
  --icon-inverted-disabled: var(--transparent-white200a);
  --icon-main-default: var(--solid-blue400);
  --icon-main-hovered: var(--solid-blue500);
  --icon-main-pressed: var(--solid-blue600);
  --icon-main-disabled: var(--transparent-white200a);
  --icon-positive-default: var(--solid-green400);
  --icon-positive-hovered: var(--solid-green500);
  --icon-positive-pressed: var(--solid-green600);
  --icon-positive-disabled: var(--transparent-white200a);
  --icon-warning-default: var(--solid-orange400);
  --icon-warning-hovered: var(--solid-orange500);
  --icon-warning-pressed: var(--solid-orange600);
  --icon-warning-disabled: var(--transparent-white200a);
  --icon-negative-default: var(--solid-red400);
  --icon-negative-hovered: var(--solid-red500);
  --icon-negative-pressed: var(--solid-red600);
  --icon-negative-disabled: var(--transparent-white200a);
  --icon-on-bright-default: var(--solid-white);
  --icon-on-bright-hovered: var(--transparent-white800a);
  --icon-on-bright-pressed: var(--transparent-white700a);
  --icon-on-bright-disabled: var(--transparent-white200a);
  --control-main-primary-default: var(--solid-blue300);
  --control-main-primary-hovered: var(--solid-blue400);
  --control-main-primary-pressed: var(--solid-blue500);
  --control-main-primary-disabled: var(--transparent-white80a);
  --control-main-secondary-default: var(--solid-white);
  --control-main-secondary-hovered: var(--transparent-white800a);
  --control-main-secondary-pressed: var(--transparent-white700a);
  --control-main-secondary-disabled: var(--transparent-white80a);
  --control-positive-primary-default: var(--solid-green300);
  --control-positive-primary-hovered: var(--solid-green400);
  --control-positive-primary-pressed: var(--solid-green500);
  --control-positive-primary-disabled: var(--transparent-white80a);
  --control-positive-secondary-default: var(--solid-white);
  --control-positive-secondary-hovered: var(--transparent-white800a);
  --control-positive-secondary-pressed: var(--transparent-white700a);
  --control-positive-secondary-disabled: var(--transparent-white80a);
  --control-warning-primary-default: var(--solid-orange300);
  --control-warning-primary-hovered: var(--solid-orange400);
  --control-warning-primary-pressed: var(--solid-orange500);
  --control-warning-primary-disabled: var(--transparent-white80a);
  --control-warning-secondary-default: var(--solid-white);
  --control-warning-secondary-hovered: var(--transparent-white800a);
  --control-warning-secondary-pressed: var(--transparent-white700a);
  --control-warning-secondary-disabled: var(--transparent-white80a);
  --control-negative-primary-default: var(--solid-red300);
  --control-negative-primary-hovered: var(--solid-red400);
  --control-negative-primary-pressed: var(--solid-red500);
  --control-negative-primary-disabled: var(--transparent-white80a);
  --control-negative-secondary-default: var(--solid-white);
  --control-negative-secondary-hovered: var(--transparent-white800a);
  --control-negative-secondary-pressed: var(--transparent-white700a);
  --control-negative-secondary-disabled: var(--transparent-white80a);
  --control-inverted-primary-default: var(--transparent-white90a);
  --control-inverted-primary-hovered: var(--transparent-white200a);
  --control-inverted-primary-pressed: var(--transparent-white300a);
  --control-inverted-primary-disabled: var(--transparent-white80a);
  --stroke-divider-default: var(--transparent-white200a);
  --stroke-divider-neutral: var(--transparent-white70a);
  --stroke-divider-main: var(--solid-blue900);
  --stroke-divider-positive: var(--solid-green900);
  --stroke-divider-warning: var(--solid-orange900);
  --stroke-divider-negative: var(--solid-red900);
  --stroke-border-default: var(--transparent-white200a);
  --stroke-border-neutral: var(--transparent-white70a);
  --stroke-border-main: var(--solid-blue700);
  --stroke-border-positive: var(--solid-green700);
  --stroke-border-warning: var(--solid-orange700);
  --stroke-border-negative: var(--solid-red700);
  --stroke-control-default: var(--transparent-white200a);
  --stroke-control-hovered: var(--transparent-white400a);
  --stroke-control-pressed: var(--solid-blue200);
  --stroke-control-selected: var(--solid-blue300);
  --stroke-control-focused: var(--solid-blue200);
  --stroke-control-disabled: var(--transparent-white80a);
  --accent-main-primary: var(--solid-blue600);
  --accent-main-secondary: var(--solid-blue60);
  --accent-positive-primary: var(--solid-green600);
  --accent-positive-secondary: var(--solid-green60);
  --accent-warning-primary: var(--solid-orange600);
  --accent-warning-secondary: var(--solid-orange60);
  --accent-negative-primary: var(--solid-red600);
  --accent-negative-secondary: var(--solid-red60);
  --accent-ghost-primary: var(--solid-gray200);
  --accent-ghost-secondary: var(--solid-gray60);
  --overlay-default: var(--transparent-black200a);
  --overlay-control-default: var(--transparent-black80a);
  --overlay-control-inverted: var(--transparent-white80a);
  --overlay-media-banner: var(--transparent-black300a);
  --overlay-popover: var(--transparent-black600a);
  --overlay-negative: var(--transparent-red200a);
  --shadow-default: var(--transparent-black60a);
  --decorative-orange: var(--solid-orange300);
  --decorative-yellow: var(--decorative_yellow);
  --decorative-purple: var(--decorative_purple);
  --decorative-violet: var(--decorative_violet);
  --decorative-magentum: var(--decorative_magentum);
  --decorative-lavender: var(--decorative_lavender);
  --decorative-lavender-transparent: var(--decorative_lavender-transparent);
  --decorative-deeporange-vas: var(--decorative_deeporange);
  --decorative-blackberry: var(--decorative_blackberry500);
  --decorative-blackberry-dark: var(--decorative_blackberry700);
  --theme-blue: var(--solid-blue500);
  --theme-green: var(--solid-green500);
  --theme-orange: var(--solid-orange500);
  --theme-red: var(--solid-red500);
  --theme-gray: var(--solid-gray500);
  --theme-dark: var(--solid-gray1200);
  --theme-black: var(--solid-black);
  --theme-white: var(--solid-white);
  --subscription-bronze: var(--decorative_bronze);
  --subscription-silver: var(--decorative_silver);
  --subscription-gold: var(--decorative_gold);
  --subscription-platinum: var(--decorative_platinum);
  --brand-space: var(--brand_space);
  --brand-midnight: var(--brand_midnight);
  --brand-navy: var(--brand_navy);
  --brand-royalblue: var(--brand_royalblue);
  --brand-indigo: var(--brand_indigo);
  --brand-sapphire: var(--brand_sapphire);
  --brand-lapis: var(--brand_lapis);
  --brand-azure: var(--brand_azure);
  --brand-cornflowerblue: var(--brand_cornflowerblue);
  --brand-sky: var(--brand_sky);
  --brand-denim: var(--brand_denim);
  --brand-cyan: var(--brand_cyan);
  --brand-iris: var(--brand_iris);
  --brand-mauve: var(--brand_mauve);
  --brand-pink: var(--brand_pink);
  --brand-peach: var(--brand_peach);
  --brand-sand: var(--brand_sand);
  --brand-black: var(--solid-black);
  --brand-white: var(--solid-white);
  --cian-logo: var(--solid-white);
  --cian-logo-inverted: #0054FD;
}
@media (prefers-color-scheme: dark) {
  html.design-theme--system,
  .design-theme--system {
    --background-primary: var(--solid-gray1300);
    --background-secondary: var(--solid-gray1100) !important;
    --background-elevation: var(--solid-gray1100);
    --surface-neutral-default: var(--solid-gray1100);
    --surface-neutral-hovered: var(--solid-gray900);
    --surface-neutral-pressed: var(--solid-gray800);
    --surface-neutral-selected: var(--solid-gray1000);
    --surface-neutral-disabled: var(--solid-gray800);
    --surface-main-default: var(--solid-blue1100);
    --surface-main-hovered: var(--solid-blue900);
    --surface-main-pressed: var(--solid-blue800);
    --surface-main-selected: var(--solid-blue1000);
    --surface-main-disabled: var(--solid-gray800);
    --surface-positive-default: var(--solid-green1100);
    --surface-positive-hovered: var(--solid-green900);
    --surface-positive-pressed: var(--solid-green800);
    --surface-positive-selected: var(--solid-green1000);
    --surface-positive-disabled: var(--solid-gray800);
    --surface-warning-default: var(--solid-orange1100);
    --surface-warning-hovered: var(--solid-orange900);
    --surface-warning-pressed: var(--solid-orange800);
    --surface-warning-selected: var(--solid-orange1000);
    --surface-warning-disabled: var(--solid-gray800);
    --surface-negative-default: var(--solid-red1100);
    --surface-negative-hovered: var(--solid-red900);
    --surface-negative-pressed: var(--solid-red800);
    --surface-negative-selected: var(--solid-red1000);
    --surface-negative-disabled: var(--solid-gray800);
    --surface-inverted-default: var(--solid-gray1400);
    --surface-inverted-hovered: var(--solid-gray1300);
    --surface-inverted-pressed: var(--solid-gray1200);
    --surface-inverted-selected: var(--solid-blue1100);
    --surface-inverted-disabled: var(--solid-gray800);
    --text-primary-default: var(--solid-white);
    --text-primary-hovered: var(--solid-gray50);
    --text-primary-pressed: var(--solid-gray60);
    --text-primary-disabled: var(--solid-gray500);
    --text-secondary-default: var(--solid-gray100);
    --text-secondary-hovered: var(--solid-gray200);
    --text-secondary-pressed: var(--solid-gray300);
    --text-secondary-disabled: var(--solid-gray500);
    --text-inverted-default: var(--solid-gray1300);
    --text-inverted-hovered: var(--solid-gray1200);
    --text-inverted-pressed: var(--solid-gray1100);
    --text-inverted-disabled: var(--solid-gray500);
    --text-main-default: var(--solid-blue90);
    --text-main-hovered: var(--solid-blue100);
    --text-main-pressed: var(--solid-blue200);
    --text-main-disabled: var(--solid-gray500);
    --text-positive-default: var(--solid-green90);
    --text-positive-hovered: var(--solid-green100);
    --text-positive-pressed: var(--solid-green200);
    --text-positive-disabled: var(--solid-gray500);
    --text-warning-default: var(--solid-orange90);
    --text-warning-hovered: var(--solid-orange100);
    --text-warning-pressed: var(--solid-orange200);
    --text-warning-disabled: var(--solid-gray500);
    --text-negative-default: var(--solid-red90);
    --text-negative-hovered: var(--solid-red100);
    --text-negative-pressed: var(--solid-red200);
    --text-negative-disabled: var(--solid-gray500);
    --text-on-bright-default: var(--solid-white);
    --text-on-bright-hovered: var(--solid-gray50);
    --text-on-bright-pressed: var(--solid-gray60);
    --text-on-bright-disabled: var(--solid-gray500);
    --icon-primary-default: var(--solid-gray50);
    --icon-primary-hovered: var(--solid-gray60);
    --icon-primary-pressed: var(--solid-gray70);
    --icon-primary-disabled: var(--solid-gray500);
    --icon-secondary-default: var(--solid-gray200);
    --icon-secondary-hovered: var(--solid-gray300);
    --icon-secondary-pressed: var(--solid-gray400);
    --icon-secondary-disabled: var(--solid-gray500);
    --icon-inverted-default: var(--solid-gray1300);
    --icon-inverted-hovered: var(--solid-gray1200);
    --icon-inverted-pressed: var(--solid-gray1100);
    --icon-inverted-disabled: var(--solid-gray500);
    --icon-main-default: var(--solid-blue100);
    --icon-main-hovered: var(--solid-blue200);
    --icon-main-pressed: var(--solid-blue300);
    --icon-main-disabled: var(--solid-gray500);
    --icon-positive-default: var(--solid-green100);
    --icon-positive-hovered: var(--solid-green200);
    --icon-positive-pressed: var(--solid-green300);
    --icon-positive-disabled: var(--solid-gray500);
    --icon-warning-default: var(--solid-orange100);
    --icon-warning-hovered: var(--solid-orange200);
    --icon-warning-pressed: var(--solid-orange300);
    --icon-warning-disabled: var(--solid-gray500);
    --icon-negative-default: var(--solid-red100);
    --icon-negative-hovered: var(--solid-red200);
    --icon-negative-pressed: var(--solid-red300);
    --icon-negative-disabled: var(--solid-gray500);
    --icon-on-bright-default: var(--solid-white);
    --icon-on-bright-hovered: var(--solid-gray50);
    --icon-on-bright-pressed: var(--solid-gray60);
    --icon-on-bright-disabled: var(--solid-gray500);
    --control-main-primary-default: var(--solid-blue300);
    --control-main-primary-hovered: var(--solid-blue400);
    --control-main-primary-pressed: var(--solid-blue500);
    --control-main-primary-disabled: var(--solid-gray800);
    --control-main-secondary-default: var(--solid-blue900);
    --control-main-secondary-hovered: var(--solid-blue800);
    --control-main-secondary-pressed: var(--solid-blue700);
    --control-main-secondary-disabled: var(--solid-gray800);
    --control-positive-primary-default: var(--solid-green300);
    --control-positive-primary-hovered: var(--solid-green400);
    --control-positive-primary-pressed: var(--solid-green500);
    --control-positive-primary-disabled: var(--solid-gray800);
    --control-positive-secondary-default: var(--solid-green900);
    --control-positive-secondary-hovered: var(--solid-green800);
    --control-positive-secondary-pressed: var(--solid-green700);
    --control-positive-secondary-disabled: var(--solid-gray800);
    --control-warning-primary-default: var(--solid-orange300);
    --control-warning-primary-hovered: var(--solid-orange400);
    --control-warning-primary-pressed: var(--solid-orange500);
    --control-warning-primary-disabled: var(--solid-gray800);
    --control-warning-secondary-default: var(--solid-orange900);
    --control-warning-secondary-hovered: var(--solid-orange800);
    --control-warning-secondary-pressed: var(--solid-orange700);
    --control-warning-secondary-disabled: var(--solid-gray800);
    --control-negative-primary-default: var(--solid-red300);
    --control-negative-primary-hovered: var(--solid-red400);
    --control-negative-primary-pressed: var(--solid-red500);
    --control-negative-primary-disabled: var(--solid-gray800);
    --control-negative-secondary-default: var(--solid-red900);
    --control-negative-secondary-hovered: var(--solid-red800);
    --control-negative-secondary-pressed: var(--solid-red700);
    --control-negative-secondary-disabled: var(--solid-gray800);
    --control-inverted-primary-default: var(--solid-gray1400);
    --control-inverted-primary-hovered: var(--solid-gray1300);
    --control-inverted-primary-pressed: var(--solid-gray1200);
    --control-inverted-primary-disabled: var(--solid-gray800);
    --stroke-divider-default: var(--solid-gray700);
    --stroke-divider-neutral: var(--solid-gray1000);
    --stroke-divider-main: var(--solid-blue700);
    --stroke-divider-positive: var(--solid-green700);
    --stroke-divider-warning: var(--solid-orange700);
    --stroke-divider-negative: var(--solid-red700);
    --stroke-border-default: var(--solid-gray700);
    --stroke-border-neutral: var(--solid-gray1000);
    --stroke-border-main: var(--solid-blue700);
    --stroke-border-positive: var(--solid-green700);
    --stroke-border-warning: var(--solid-orange700);
    --stroke-border-negative: var(--solid-red700);
    --stroke-control-default: var(--solid-gray500);
    --stroke-control-hovered: var(--solid-gray300);
    --stroke-control-pressed: var(--solid-blue200);
    --stroke-control-selected: var(--solid-blue300);
    --stroke-control-focused: var(--solid-blue200);
    --stroke-control-disabled: var(--solid-gray600);
    --accent-main-primary: var(--solid-blue100);
    --accent-main-secondary: var(--solid-blue900);
    --accent-positive-primary: var(--solid-green100);
    --accent-positive-secondary: var(--solid-green900);
    --accent-warning-primary: var(--solid-orange100);
    --accent-warning-secondary: var(--solid-orange900);
    --accent-negative-primary: var(--solid-red100);
    --accent-negative-secondary: var(--solid-red900);
    --accent-ghost-primary: var(--solid-gray100);
    --accent-ghost-secondary: var(--solid-gray900);
    --overlay-default: var(--transparent-black400a);
    --overlay-control-default: var(--transparent-white80a);
    --overlay-control-inverted: var(--transparent-black80a);
    --overlay-media-banner: var(--transparent-black300a);
    --overlay-popover: var(--transparent-black700a);
    --overlay-negative: var(--transparent-red200a);
    --shadow-default: var(--transparent-black0a);
    --decorative-orange: var(--solid-orange300);
    --decorative-yellow: var(--decorative_yellow);
    --decorative-purple: var(--decorative_purple);
    --decorative-violet: var(--decorative_lavender);
    --decorative-magentum: var(--decorative_magentum);
    --decorative-lavender: var(--decorative_eggplant);
    --decorative-lavender-transparent: var(--decorative_lavender-transparent);
    --decorative-deeporange-vas: var(--decorative_deeporange);
    --decorative-blackberry: var(--decorative_blackberry500);
    --decorative-blackberry-dark: var(--decorative_blackberry700);
    --theme-blue: var(--solid-blue500);
    --theme-green: var(--solid-green500);
    --theme-orange: var(--solid-orange500);
    --theme-red: var(--solid-red500);
    --theme-gray: var(--solid-gray500);
    --theme-dark: var(--solid-gray1200);
    --theme-black: var(--solid-black);
    --theme-white: var(--solid-white);
    --subscription-bronze: var(--decorative_bronze);
    --subscription-silver: var(--decorative_silver);
    --subscription-gold: var(--decorative_gold);
    --subscription-platinum: var(--decorative_platinum);
    --brand-space: var(--brand_space);
    --brand-midnight: var(--brand_midnight);
    --brand-navy: var(--brand_navy);
    --brand-royalblue: var(--brand_royalblue);
    --brand-indigo: var(--brand_indigo);
    --brand-sapphire: var(--brand_sapphire);
    --brand-lapis: var(--brand_lapis);
    --brand-azure: var(--brand_azure);
    --brand-cornflowerblue: var(--brand_cornflowerblue);
    --brand-sky: var(--brand_sky);
    --brand-denim: var(--brand_denim);
    --brand-cyan: var(--brand_cyan);
    --brand-iris: var(--brand_iris);
    --brand-mauve: var(--brand_mauve);
    --brand-pink: var(--brand_pink);
    --brand-peach: var(--brand_peach);
    --brand-sand: var(--brand_sand);
    --brand-black: var(--solid-black);
    --brand-white: var(--solid-white);
    --cian-logo: var(--solid-white);
    --cian-logo-inverted: #0054FD;
  }
}
